<div class="container-fluid">
  <app-games-filters></app-games-filters>
  <div class="row g-4">
    <ng-container *ngIf="games.length > 0;">
      <div *ngFor="let game of games;" class="col-lg-3 col-xs-4 col-md-6" >
        <div class="card border-1 card-mouse-hover" [routerLink]="['/games/', game.id]">
          <img [src]="game.thumbnail" class="card-img-top " [alt]="game.title" title="{{game.thumbnail}}">
          <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <p class="card-text">{{game.shortDescription}}</p>
            <div class="card-badge">
              <div class="badge"><span class="badge rounded-pill text-bg-light">{{game.genre}}</span></div>
              <div class="badge"><span class="badge rounded-pill text-bg-primary">{{game.platform}}</span></div>
            </div>
            <div class="text-right">
              <a class="icon-link" href="#" [routerLink]="['/games/', game.id]"><i class="bi-eye"></i> Detail</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="games.length == 0;" >
      <div class="loading-custom text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>